<div class="container text-dark">
  <h4>Profile</h4>

  <form #formProfile="ngForm" (ngSubmit)="sendProfile(formProfile)">
    <hr>
    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input type="text" ngModel required [(ngModel)]="editProfile.name" class="form-control" name="name" id="fullName"
        placeholder="Full name">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputIdNumer">ID Number</label>
        <input type="number" ngModel required [(ngModel)]="editProfile.cc" name="cc" class="form-control"
          id="inputIdNumer" placeholder="ID Number">
      </div>
      <div class="form-group col-md-6">
        <label for="inputAddress">Address</label>
        <input type="text" ngModel required [(ngModel)]="editProfile.address" name="address" class="form-control"
          id="inputAddress" placeholder="Address">
      </div>
    </div>
    <div class="form-group">
      <label for="idCity">City</label>
      <input type="text" ngModel required [(ngModel)]="editProfile.city" name="city" class="form-control" id="idCity"
        placeholder="City">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputDepartment">Department</label>
        <input type="text" ngModel required [(ngModel)]="editProfile.department" name="department" class="form-control"
          id="inputDepartment" placeholder="Department">
      </div>
      <div class="form-group col-md-6">
        <label for="inputCountry">Country</label>
        <input type="text" ngModel required [(ngModel)]="editProfile.country" name="country" class="form-control"
          id="inputCountry" placeholder="Country">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputZipCode">ZIP Code</label>
        <input type="number" ngModel required [(ngModel)]="editProfile.ZIP" name="ZIP" class="form-control"
          id="inputZipCode" placeholder="ZIP Code">
      </div>
      <div class="form-group col-md-6">
        <label for="inputProfession">Profession</label>
        <input type="text" ngModel required [(ngModel)]="editProfile.profession" name="profession" class="form-control"
          id="inputProfession" placeholder="Profession">
      </div>
    </div>
    <div class="form-group ">
      <label for="inputdob">Date of Birth</label>
      <p-calendar id="inputdob" class="d-block" [yearNavigator]="true" [showIcon]="true" [monthNavigator]="true"
        yearRange="1920:2021" required name="dateOfBirth" placeholder="Date of Birth" dataType="string"
        [ngModel]="editProfile.dateOfBirth  | date:'dd/MM/yyyy '" (ngModelChange)="onChangeDate($event)"
        dateFormat="dd/mm/yy"></p-calendar>
    </div>
    <hr>

    <div class="form-row">
      <div class="col-12">
        <h6>Skills - Max 3</h6>
      </div>
      <div class="form-group col-12">
        <div class="form-check" *ngFor="let skill of skills">
          <input class="form-check-input" (click)="seleccionado($event)" type="checkbox" value="{{skill}}"
            id="flexCheck{{skill}}">
          <label class="form-check-label" for="flexCheck{{skill}}">
            {{skill}}
          </label>
        </div>
      </div>
      <hr>
      <hr>
      <div class="form-row w-100 mt-2">
        <hr>
        <div class="form-group col-12 ">
          <label for="descriptionYourself">Description of yourself ( 500 characters maximum ) </label>
          <textarea maxlength="500" ngModel required [(ngModel)]="editProfile.description" name="descriptionString"
            class="form-control" id="descriptionYourself" rows="3"
            [ngStyle]="{'min-height':'100px', 'max-height':'100px', 'flex':'auto'}"></textarea>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 text-center">
        
    <button type="submit" [disabled]="!formProfile.valid" class="btn btn-dark w-50">Send</button>   
      </div>
    </div>
  </form>

</div>