<div *ngIf="posts else cargandoPosts">

  <div class="container bg-white">
    <div class="row">
      <div class="col-12 my-3 text-muted text-center">
        <h2>Blog</h2>
      </div>
      <div class="col-12 d-flex justify-content-between flex-wrap align-content-center align-items-center">
        <h6 class="text-center text-muted">Posts <small>({{posts.length}})</small></h6>
        <button pButton type="button" label="Añadir nuevo post" class="p-button-link" icon="pi pi-plus"></button>
      </div>
    </div>
  </div>

  <div class="container py-4 bg-white">
    <div class="row  justify-content-center">
      <div class="col-md-10 mb-5 border-bottom" *ngFor="let f of posts">
        <a [routerLink]="['./',f.slug]">
          <img class="img-fluid" style="width: 100%" [src]="f?._embedded['wp:featuredmedia']['0'].source_url"
            alt="{{f.title.rendered}}">
        </a>
        <a [routerLink]="['./',f.slug]">
          <h2 class="text-center my-3">{{f.title.rendered }}</h2>
        </a>
        <p class="text-muted font-weight-bold">Autor: {{f?._embedded['author']['0'].name | titlecase}} </p>
        <p [innerHTML]="f.excerpt.rendered"> </p>
      </div>
    </div>
  </div>

</div>

<ng-template #cargandoPosts>
  <div class="cargando-posts">
    <p-progressSpinner></p-progressSpinner>
    <p>Cargando posts... <small class="rojo">( Motores a toda maquina )</small></p>
  </div>
</ng-template>
