
<!-- Si hay ningun usuario activo me va mostrar el spinner, de lo contrario la main page -->
<app-logo-unab *ngIf="!userOn else userON"></app-logo-unab>
<ng-template #userON >
    <div class="container" [ngStyle]="{'height':'100vh'}">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col text-center">
            <p-progressSpinner></p-progressSpinner>
            </div>
        </div>
    </div>
</ng-template>

 <router-outlet *ngIf="!userOn else userON"></router-outlet> 

 <app-sidebar *ngIf="!userOn else userON"></app-sidebar>
