* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif !important;
}

/* Estilos de la pantalla de inicio */

.dad {
  display: flex;
  position: relative;
  height: 100% !important;
  width: 100% !important;
}

.child-1 {
  position: relative;
  height: 100vh;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #000;
  width: 45%;
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

.child-1 .text-1 h1 {
  margin-bottom: 20px;
}

.child-1 .text-1 p {
  font-style: italic;
}

.child-2 {
  width: 60%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login {
  width: 100%;
  padding: 20px;
}

.btn-s {
  width: 45%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  /* remove underline from anchors */
  text-align: center;
  color: #fff;
}

.fb {
  background-color: #3B5998;
  color: white;
}

.btn-s:hover {
  opacity: 1;
  color: #fff !important;
}

.vl {
  position: relative;
  border: 2px solid #ddd;
  height: 2px;
  text-align: center;
  margin: 20px 0px;
  background: #ddd;
}

.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 14px;
}

.google {
  background-color: #dd4b39;
  color: white;
}


@media screen and (max-width: 800px) {
  .dad {
    flex-direction: column;
  }

  .child-1 {
    width: 100% !important;
    height: 50vh;
  }

  .child-2 {
    width: 100% !important;
    padding: 30px 0px;
  }
}