* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif !important;
}

/* Estilos de la pantalla de inicio */

.dad {
    display: flex;
    position: relative;
    height: 100% !important;
    width: 100% !important;
}

.child-1 {
    position: relative;
    height: 100vh;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #000;
    width: 45%;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

.child-1 .text-1 h1 {
    margin-bottom: 20px;
}
.child-1 .text-1 p {
    font-style: italic;
}

.child-2 {
    width: 60%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login {
    width: 100%;
    padding: 20px;
}

@media screen and (max-width: 800px){
    .dad {
        flex-direction: column;
    }
    .child-1 { 
        width: 100% !important;
        height: 50vh;
    }
    .child-2 { 
        width: 100% !important;
        padding: 30px 0px;
    }
}